APP_BASE_URL=https://mrms.approid.team
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
DATABASE_URL=
TOKEN_ENCRYPTION_KEY=
TIDAL_CLIENT_ID=
TIDAL_AUTHORIZE_URL=https://login.tidal.com/authorize
TIDAL_TOKEN_URL=https://auth.tidal.com/v1/oauth2/token
TIDAL_REDIRECT_URI=https://mrms.approid.team/api/tidal/callback
TIDAL_SCOPES=playlists.read
