APP_BASE_URL=https://mrms.approid.team
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
ADMIN_AUTH0_SUBJECTS=
DATABASE_URL=
TOKEN_ENCRYPTION_KEY=
TIDAL_CLIENT_ID=
TIDAL_DEVICE_CLIENT_ID=
TIDAL_DEVICE_CLIENT_SECRET=
TIDAL_DEVICE_SCOPES=r_usr w_usr w_sub
TIDAL_AUTHORIZE_URL=https://login.tidal.com/authorize
TIDAL_TOKEN_URL=https://auth.tidal.com/v1/oauth2/token
TIDAL_REDIRECT_URI=https://mrms.approid.team/api/tidal/callback
TIDAL_SCOPES=playlists.read search.read playback user.read
TIDAL_API_BASE_URL=https://openapi.tidal.com/v2
TIDAL_COUNTRY_CODE=KR
MUSICBRAINZ_USER_AGENT=music-pie/0.1.0 (https://mrms.approid.team)
